body{
    background: #e2eed7;
}

#header { /* Шапка сайта */
	height: 120px;
	font-size: 48px;
	background: #e2eed7;
	margin: 0px;
}

.name-shadow-polka-dot { /* Имя сайта + Тень горошек */
    margin-right: 550px;
    padding-top: 20px;
    
    font-family: 'Rubik One', sans-serif;
    text-transform: uppercase;
    text-shadow: -5px -5px 0px #ee9207;
    background: radial-gradient(#6e992a 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: table;
    margin: 0px auto;
}

.menu_btn{
    background: #6e992a;
}

button{
    cursor: pointer; /* При наведении другой курсор*/
    padding: 10px 20px;
	margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -20px;
    height: 50px;
    color: #fff;
    background: #ebe4ca;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

img{
	margin-left: 25px;
    height: 150px;
    width: 150px;
}

input{
    margin-top: 10px; /* Отступ сверху*/
	margin-left: 25px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    border-radius: 20px/20px; /* Плавное скругление кнопок*/
    border: none; /* Убрать рамку*/
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

select{
    margin-top: 10px; /* Отступ сверху*/
	margin-left: 25px;
    height: 40px;
    width: 380px;
    padding-left: 10px;
    margin-bottom: 40px;
    border-radius: 20px/20px; /* Плавное скругление кнопок*/
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.single-goods {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    text-align: center;
}

.single-goods button{
    display: block;
    margin: 20px auto;
}

#main{ /* Основное содержимое */

	height: 100%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffff;
    color: black;
}

.popup-bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    display: none;
}

.popup {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 600px;
    background: #ffffff; 
    padding: 20px;
    transform: translate(-50%,-50%);
    padding-top: 60px;
}

.close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup form input {
    width: 60%;
    border: 2px solid #000000;
    font-size: 20px;
    margin-bottom: 30px;
    height: 40px;
}

.popup form input[type="submit"] {
    background: #000000;
    color: #ffffff;
}

.no-scroll {
    overflow-y: hidden;
}

li {
    display: inline;
   }